@page "/game-create"
@inject HttpClient Http 
@inject NavigationManager Navigation

<PageTitle>Game Create</PageTitle>

<h2>New Game</h2>

<form>
    <div class="form-group">
        <label>Nome</label>
        <input @bind="Name" class="form-control"/>
    </div>

    <br/>

    <button type="button" class="btn btn-primary" @onclick="Save">Salvar</button>
</form>

@code {

    public string Name { get; set; }

    private async void Save()
    {
        var game = new GameCreateDTO {
            Name = Name,
            Status = true,
            UserId = 1
        };

        await Http.PostAsJsonAsync<GameCreateDTO>("game", game);
        Navigation.NavigateTo("games");
    }

    public class GameCreateDTO
    {
        public int UserId { get; set; }
        public string Name { get; set; }
        public bool Status { get; set; }
    }

}