@page "/game-update/{id:int}"
@inject HttpClient Http 
@inject NavigationManager Navigation

<PageTitle>Game Create</PageTitle>

<h2>Update Game</h2>

<form>
    <div class="form-group">
        <label>Nome</label>
        <input @bind="game.Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Status</label>
        <input type="checkbox" @bind="game.Status"/>
    </div>

    <br/>

    <button type="button" class="btn btn-primary" @onclick="Save">Salvar</button>
</form>

@code {

    [Parameter]
    public int Id { get; set; }
    public GameUpdateDTO game { get; set; }

    protected override async Task OnInitializedAsync()
    {
        game = await Http.GetFromJsonAsync<GameUpdateDTO>($"game/{Id}");
    }

    private async void Save()
    {
        var _game = new GameUpdateDTO {
            Name = game.Name,
            Status = game.Status,
            UserId = 1
        };

        await Http.PutAsJsonAsync<GameUpdateDTO>($"game/{Id}", _game);
        Navigation.NavigateTo("games");
    }

    public class GameUpdateDTO
    {
        public int UserId { get; set; }
        public string Name { get; set; }
        public bool Status { get; set; }
    }

}