@page "/games"
@inject HttpClient Http

<PageTitle>Games</PageTitle>

<h2>Games</h2>

@if(games == null)
{
    <p>Jogos não disponíveis</p>
}
else
{
<table class="table">
    <tr>
        <th>Name</th>
        <th>User</th>
        <th colspan="2">Status</th>
        
    </tr>
    @foreach(var game in games)
    {
    <tr>
        <td><a href="game-detail/@game.GameId">@game.Name</a></td>
        <td>@game.User.Name</td>
        <td>@(game.Status ? "Ativo" : "Inativo")</td>
        <td>
            <button class="btn btn-outline-danger btn-sm" @onclick="@(e => Delete(game))">Delete</button>
            <a class="btn btn-outline-success btn-sm" href="game-update/@game.GameId">Update</a>
        </td>
    </tr>
    }
</table>
}

<a class="btn btn-primary" href="game-create">Adicionar Jogo</a>

@code {

    public List<Game>? games { get; set; } = new List<Game>();

    protected override async Task OnInitializedAsync()
    {
        games = await Http.GetFromJsonAsync<List<Game>?>("game");
    }

    private async void Delete(Game game)
    {
        games!.Remove(game);
        await Http.DeleteAsync($"game/{game.GameId}");        
    }

    public class Game
    {
        public int GameId { get; set; }
        public int UserId { get; set; }
        public string Name { get; set; }
        public bool Status { get; set; }
        public User User { get; set; }
    }

    public class User
    {
        public int UserId { get; set; }
        public string Name { get; set; }
        public string Email { get; set; }
    }

}