@page "/game-detail/{id:int}"
@inject HttpClient Http 
@inject NavigationManager Navigation

<PageTitle>Game Details</PageTitle>

<h2>Game</h2>

<form>
    <div class="form-group">
        <label>Nome</label>
        <p>@game.Name</p>
    </div>
    <div class="form-group">
        <label>Status</label>
        <p>@(game.Status ? "Ativo" : "Inativo")</p>
    </div>

    <br/>

    <button type="button" class="btn btn-primary" @onclick="Voltar">Voltar</button>
</form>

@code {

    [Parameter]
    public int Id { get; set; }
    public Game game { get; set; }

    protected override async Task OnInitializedAsync()
    {
        game = await Http.GetFromJsonAsync<Game>($"game/{Id}");
    }

    private async void Voltar()
    {
        Navigation.NavigateTo("games");
    }

    public class Game
    {
        public int UserId { get; set; }
        public string Name { get; set; }
        public bool Status { get; set; }
    }
}