﻿@page "/"
@inject NavigationManager Navigation

<h1>Login</h1>
<button class="btn btn-primary" @onclick="GoToGames">Entrar</button>

@code {
    // AQUI É CÓDIGO C#
    private void GoToGames()
    {
        Navigation.NavigateTo("games");
    }
}